@import './variables.scss';
@import './indents.scss';
@import './helpers.scss';

body,
html {
  margin: 0;
  padding: 0;
}

.wrap-box {
  box-shadow: $wrap-box-shadow;
  border-radius: $wrap-border-radius;
}
